
.post-container {
    display: flex;
    margin-bottom: 12px;
}

.post-container:last-of-type {
    display: flex;
    margin-bottom: auto;
}

.post-container .exp-img {
    width: 65px;
    height: 65px;
    margin-right: 13px;
}

body.ar .post-container .exp-img {
    margin-left: 13px;
}

.post-container .post-content-wrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 7px 13px 24px 31px;
    border-radius: 15px;
    margin-bottom: 11px;
}

.post-container .post-header {
    align-self: flex-end;
    color: #959595;
    font-size: 8px;
    margin-bottom: 5px;
    direction: ltr;
}

.post-container .post-content {
    color: #000;
    font-size: 11.5px;
    line-height: 1.4;
}
.post-container .post-content p {
    margin-bottom: 15px;
}

.post-container .post-content p:last-child {
    margin-bottom: 0;
}

.post-img-container {
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}


@media (min-width: 768px) {
    .post-container .post-content-wrapper {
        padding: 10px 25px 25px 17px;
        margin-bottom: 20px;
    }

    .post-container .post-header {
        font-size: 10px;
    }

    .post-container .post-content {
        font-size: 14px;
    }
}
